<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>联系</title>
    <link rel="stylesheet" href="../../static/contact.css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <style>
            .button{
			margin-top:20px;
			width:190px;
			height:30px;
			font-size:20px;
			font-weight:700;
			color:#fff;
			background-image: linear-gradient(to right, #e7eb74 0%, #9fe0e6 100%);
			border:0;
			border-radius:15px;}
    </style>
</head>
<body>

	<div id="login-box">
        <h1>关于食趣</h1>
        <a>
            <strong>食趣的使命</strong><br>是"帮大家吃得更好,生活更好".作为一家美食生活服务的电子商务平台,公司聚焦“Food +Platform”战略,以“吃”为核心,通过科技创新,和广大商户与各类合作伙伴一起,努力为消费者提供品质生活.
        </a><br>
        <a><strong>食趣价值观</strong><br> 我们相信有一些简单朴素的理念，吸引着和我们相似的人，共同完成一件件平凡而伟大的事情，这就是我们的价值观。客户需求是公司所有策略、行动的最重要的输入，帮客户解决问题，借此创造价值，公司才有存在的理由。</a><br>
	<h4>联系客服:000-7888-211</h4>
    </div>


</body>
</html>